<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/index.css">
    <title>Descargador de Videos</title>
  </head>
  <body>
    <div class="hero">
       <form action="/data_video" method="post">
        <input type="text" name="url">
        <button type="submit">Descargar</button>
       </form> 
    </div>
    
    <img src="" alt="" id="previa">
    <span id="title"></span>
    <div class="card">
        <img src="{{thumbail_url}}" class="card-img-top" alt="">
        <div>
            <p class="card-title">{{title}}</p>
            <form action="/video" method="post" class="m-1">
                <input type="text" value="{{url}}" name="url">
                <button class="btn btn-danger">Descargar MP4</button>
            </form>
        </div>
        

        <!-- <form action="/download/{{url}}" method="post" class="m-1">
            <button class="btn btn-danger">Descargar MP4</button>
        </form> -->
    </div>
    <!-- <script>
      document.getElementById("button").addEventListener("click", async () => {
        const response = await fetch("/adios", {
          method: "POST",
          body: JSON.stringify({ url: document.getElementById("url").value }),
          headers: {
            "Content-Type": "application/json",
          },
        });
        // const data = await response.json();
        // console.log(data)
        // document.getElementById("previa").setAttribute("src", data.imagen)
        // document.getElementById("title").innerText = data.title
        // console.log(data);
      });
    </script> -->
    <style>
        #previa{
            width: 200px;
        }
    </style>
  </body>
</html>
